{% extends 'base.html' %} {% load static %}{% block content %} 

<h1 class="title_of_content">
    Overview
</h1>
<p>Welcome to (I)ThesisHub: Centralizing Student Thesis Opportunities </p>
<h4> For STUDENTS:</h4>
<p>
    You want to write your thesis at FU Berlin and are looking for a topic? Then you've come to the right place! Many of the currently advertised topics for theses and research stays can be found via the link to the thesis <a href="">LIST</a>.
    Registration/application is not necessary, you can simply apply directly for a thesis topic.
</p>
<p>
    You have a thesis idea and would like to find a supervisor to guide you? Then you've come to the right place! You can post your thesis idea in the student <a href="">FORUM</a> and other student ideas can be found.
    <br>
        Registration/application is not necessary, you can simply apply directly for a thesis topic.
</p>

{% endblock %}