{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" id="ThesisListingform" data-cities-url="{% url 'ajax_load_institutes' %}" novalidate>
            {% csrf_token %}
            <legend class="border-bottom mb-4">Post a Thesis Listing</legend>
            {{ form|crispy }}
            <br>
            <button class="btn btn-outline-info" type="submit">Post</button>

        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            console.log("FK");
            $("#id_department").change(function () {
              console.log("FKME");
              var url = $("#ThesisListingform").attr("data-cities-url");  
              var departmentId = $(this).val();  // get the selected country ID from the HTML input
        
              $.ajax({                       // initialize an AJAX request
                url: url,                    
                data: {
                  'department': departmentId       
                },
                success: function (data) {   
                  $("#id_institute").html(data);  
                }
              });
        
            });
          </script>
    </div>

   
{% endblock content %}